.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*-------------
 	General
-------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald";
  font: "Oswald" 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #2196f3;
  font-weight: 800;
  text-align: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px "Limelight", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}
ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------
 	Header
-------------*/
.navWrapper {
}

.header-background {
  display: flex;
  height: 20vh;
  width: 100%;
}

.header-background img {
  width: 100%;
}

.WoodenBottom-container {
  position: relative;
}

.WoodenBottom-container img:not(.home-brass) {
  width: 100%;
  height: 20vh;
  margin-bottom: 0vh;
}

.WoodenBottom-container img.home-brass {
  height: 4vh;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
}

nav-regular {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
  min-height: 20vh;
}

h1 {
  font-family: "Limelight";
  font-size: 10vw;
}

header h2 {
  font-family: "Oswald", sans-serif;
}
header nav {
  display: flex;
}
header nav li {
  margin: 0 15px;
}
header nav li:first-child {
  margin-left: 0;
}
header nav li:last-child {
  margin-right: 0;
}

.pageTopper {
  display: flex;
}
/* --------------------
   Our Work Section
   --------------------- */
.spacer {
  height: 5vw;
}

.grid {

}
.grid li {
  padding: 15px;
  height: 350px;
  width: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.grid li.large {
  height: 500px;
  width: 500px;
}

.grid li.small {
  flex-basis: 30%;
}
.grid li.large {
  flex-basis: 45%;
}

.Gallery-Blurb {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65vw;
  border-bottom: 1px solid #51504c;
  margin: 0 auto;
}
.Gallery-Blurb p {
  max-width: 60vw;
  margin: 0 auto;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .grid li.small,
  .our-work .grid li.large {
    flex-basis: 100%;
  }
}
/* ---------------------
   Contact Section
   --------------------- */
.contact {
  background-color: #f7f7f7;
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%;
}
.contact form input {
  padding: 15px;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
}
.contact form .btn {
  padding: 18px 42px;
}
@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}
/* -------------
   Footer
   ------------- */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: #fff;
  background-color: #165b13;
  padding: 60px 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li img {
  height: 50px;
  width: 50px;
  margin: 0;
}

footer ul li {
  margin: 0 60px;
}
footer ul li:first-child {
  margin-left: 0;
}
footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.social-sqaure {
  height: 30px;
  width: 30px;
  border-radius: 12px;
}

.social-square:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
}

footer p a {
  color: #fff;
}
/* -- Demo ads -- */
@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}

.header-mobile-container h2 img {
  height: 10vh;
}
