.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-------------
 	General
-------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #2196f3;
  font-weight: 800;
  text-align: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------
 	Header
-------------*/
.navWrapper {
}

.header-background {
  display: flex;
  height: 20vh;
  width: 100%;
}

.header-background img {
  width: 100%;
}

.WoodenBottom-container {
  position: relative;
}

.WoodenBottom-container img {
  width: 100%;
  height: 25vw;
  margin-bottom: 0;
}

.brassDivider {
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    #cd9575,
    #cdb274,
    #bf9e4f,
    #b49141,
    #cd9575,
    #8f8366,
    #cd9575,
    #caab63,
    #765f28,
    #a78639,
    #937e4d,
    #cd9575,
    #c7931a,
    #9b7827,
    #8f7432,
    #c4aa6e,
    #a38643,
    #c4aa6e,
    #cd9575,
    #6b5729,
    #a3843e
  );
}
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
  min-height: 20vh;
}
header h2 {
  font-family: "Quicksand", sans-serif;
}
header nav {
  display: flex;
}
header nav li {
  margin: 0 15px;
}
header nav li:first-child {
  margin-left: 0;
}
header nav li:last-child {
  margin-right: 0;
}
@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
}
.pageTopper {
  display: flex;
}
/* --------------------
 	Our Work Section
--------------------- */
.оur-work {
  background-color: #fff;
}
.our-work .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}
.our-work .grid li.small {
  flex-basis: 40%;
}
.our-work .grid li.large {
  flex-basis: 60%;
}
@media (max-width: 1000px) {
  .our-work .grid li.small,
  .our-work .grid li.large {
    flex-basis: 100%;
  }
}
/* ---------------------
 	Contact Section
--------------------- */
.contact {
  background-color: #f7f7f7;
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%;
}
.contact form input {
  padding: 15px;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
}
.contact form .btn {
  padding: 18px 42px;
}
@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}
/* -------------
 	Footer
------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}
footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}
footer ul li {
  margin: 0 8px;
}
footer ul li:first-child {
  margin-left: 0;
}
footer ul li:last-child {
  margin-right: 0;
}
footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
footer p a {
  color: #fff;
}
@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}
/* -- Demo ads -- */
@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
