.contact-section-tag {
  background-color: #D9CAB3
}

.page {
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 76.16vw;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Lato', sans-serif;
  color: #b3aca7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 2px 2px 12px 1px black;
  height: 76vh;
}

.form-container:active {
  color: #b3aca7
}

.form-header {
  width: 71vw;
  color: black;
  margin: 10px auto 0;
  letter-spacing: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 5vh;
  text-shadow: .5px .5px black;
}

#form {
  width: 500px;
  margin: 23px auto 100px auto;
}

#form input {
  background-color: black;
}

#form input:nth-child(4) {
  background-color: rgba(50, 50, 50, .3);
  border: 1px solid black;
}


#form input:nth-child(4):hover{
  background-color: rgba(100, 100, 100, .2);
}

.contact-container input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #B2B2D2;
  border:  solid 1px black;
  border-bottom: solid 1px white;
  transition: all 0.3s ease-in-out;
}

contact-container input:hover {
  background: #dddddd;
}

.contact-container textarea {
  width: 470px;
  max-width: 470px;
  background: black;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  outline: none;
  color: #B2B2D2;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  transition: all 0.3s ease-in-out;
}

.contact-container textarea:hover {
  background: black;
}


#submit {
  width: 502px;
  padding: 0;
  margin: 16px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  outline:none;
  cursor: pointer;
  border: solid 1px black;
  box-shadow: 2px 2px 6px 1px black;
  background-color: rgba(100, 100, 100 , .4)
}

#submit:hover{
  box-shadow: none;
}

@media (max-width: 1050px) {
  #submit {
    max-width: 350px
  }
}


@media (max-width: 650px) {
  .contact-container input{
    width: 300px;
  }
  .contact-container textarea {
    width: 300px;
  }
  
  #submit {
    width: 300px;
  }
}


@media (max-width: 566px) {
  .contact-container input{
    width: 250px;
  }
  .contact-container  textarea {
    width: 250px;
  }
  
  #submit {
    width: 250px;
  }
}


.emailInvalid {
  height: 0;
}

.emailRetry {
  float: left;
  color:#A93F55 ;
  font-weight: 600;
  margin: 0 auto;
  width: 76vw;
  height: 50px;
  background: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.textarea-counter {
  position: absolute;
  right: 3vw;
  bottom: 1vh;
}

.contact-email-div img{
  position: absolute;
  height: 5vh;
  left: 64.8vw;
  top: 48vh;
}


@media (max-width: 503px) {
  .contact-container input{
    width: 250px;
  }
  textarea {
    width: 250px;
  }
  
  #submit {
    width: 250px;
  }
  .textarea-counter{
    transform: translateX(-100%);
    display: block;
    right: 0;
    bottom: 1vh;
  }
}


.textarea-wrapper {
  position: relative;
  
}

.textarea-wraper span{
  position: absolute;
}
