h1 {
  font-family: "Limelight";
  font-size: 10vw;
  color: #60574a;
}

header h2 {
  font-family: "Oswald", sans-serif;
}

.App {
  text-align: center;
}

/*-------------
   General
   -------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald";
  font: "Oswald" 16px sans-serif;
  color: #555;
}


hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px "Limelight", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: #fff;
  padding: 60px 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li img {
  height: 50px;
  width: 50px;
  margin: 0;
}

footer ul li {
  margin: 0 60px;
}
footer ul li:first-child {
  margin-left: 0;
}
footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}
