

.hamburger-button-wrapper button {
  display: none;
}


@media (max-width: 700px) {
  .nav-regular {
    display: none;
  }
  .header-mobile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .hamburger-button-wrapper button {
    display: flex;
  }
  
  .side-nav {
    position: fixed;    
  }
}


.side-nav {
  z-index: 5;
}

.side-nav ul{
  position: fixed;
  background-color: black;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  transition: width 1s , min-width 1s;
  height: 100vh;
  overflow: hidden; 
  text-align: left;
  z-index: 5;
}

.side-nav ul li div {
  width: 100%;
  height: 100%;
  padding-top: 1.5vh;
  padding-left: 3vw;
  padding-bottom: 1vh;
  font-size: 6vh;
}

.side-nav ul li a img {
  width: 200px;
}

.side-nav ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.side-nav-shade {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, .5);
}


.side-nav-does-not-show .side-nav-shade {
  animation: fadeShade .5s forwards;
}

body:not(:hover) .side-nav-does-not-show .side-nav-shade {
  animation: fadeShade 0s forwards;
}

@keyframes fadeShade {
  0% {
    background-color: rgba(100, 100, 100, .5);
    height: 100%;
  }

  99% {
    background-color: rgba(100, 100, 190, 0);
    height: 100%;
  }

  100% {
    height: 0;
  }
}

/* make sure to put specific widths on any imgs inside this side-nav or otherwise avoid resising bug*/

.side-nav-does-not-show ul {
  width: 0;
  min-width: 0;
}

.side-nav-does-show ul{
  width: 40vw;
  min-width: 250px;
}


.side-nav ul li {
  border-top: 1px solid white;
}


.side-nav-ul {
  display: flex;
  align-items: column;
}


